<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.d-kidd.vpn-tool</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D40FE058-E3F5-42BA-AF04-69085AC91F34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BF5B824-68E1-415C-A4AA-5EC2A1BC6108</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1397AC4-165C-4065-AEA2-8B15565C49BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D40FE058-E3F5-42BA-AF04-69085AC91F34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BF5B824-68E1-415C-A4AA-5EC2A1BC6108</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>30E9175C-6E04-42D8-8CD2-4289C35D0C80</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2630D075-EB12-4B84-9A5D-9C9DBDE7349E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F14A4C8F-758A-4FEC-84C5-1ABE7752A8EB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DED2681-0F0B-4029-B19D-5FE1DB977FB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Don Kidd</string>
	<key>description</key>
	<string>AnyConnect VPN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1397AC4-165C-4065-AEA2-8B15565C49BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Cisco AnyConnect VPN</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>action="{query}"



USERNAME=$(security find-internet-password -j com.d-kidd.alfred.workflow.cisco.anyconnect | awk -F\" '/acct"&lt;blob&gt;/ {print $4}' )

PASSWORD=$(security find-internet-password -j com.d-kidd.alfred.workflow.cisco.anyconnect -w)

HOST=$(security find-internet-password -j com.d-kidd.alfred.workflow.cisco.anyconnect | awk -F\" '/srvr"&lt;blob&gt;/ {print $4}' )

GROUP=AdminVPN

./start_vpn.sh $HOST $GROUP $USERNAME $PASSWORD</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BF5B824-68E1-415C-A4AA-5EC2A1BC6108</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Alfred VPN Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A70A4E1E-712E-4575-967A-0AA64960904D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>action="{query}"

/opt/cisco/anyconnect/bin/vpn $action</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>connect</string>
						<key>outputlabel</key>
						<string>connect</string>
						<key>uid</key>
						<string>30E9175C-6E04-42D8-8CD2-4289C35D0C80</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>disconnect</string>
						<key>outputlabel</key>
						<string>disconnect</string>
						<key>uid</key>
						<string>2630D075-EB12-4B84-9A5D-9C9DBDE7349E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>status</string>
						<key>outputlabel</key>
						<string>status</string>
						<key>uid</key>
						<string>F14A4C8F-758A-4FEC-84C5-1ABE7752A8EB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D40FE058-E3F5-42BA-AF04-69085AC91F34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} is not a valid argument for the VPN command</string>
				<key>title</key>
				<string>Alfred VPN Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3DED2681-0F0B-4029-B19D-5FE1DB977FB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>1BF5B824-68E1-415C-A4AA-5EC2A1BC6108</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>3DED2681-0F0B-4029-B19D-5FE1DB977FB1</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>425</integer>
		</dict>
		<key>A70A4E1E-712E-4575-967A-0AA64960904D</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>C1397AC4-165C-4065-AEA2-8B15565C49BF</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D40FE058-E3F5-42BA-AF04-69085AC91F34</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
